@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  background-color: #1A1A1A;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

thead tr {
  background-color: #212121;
  display: table-row;
}

tbody tr {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #212121;
  padding: 20px 30px;
  align-items: stretch;
}

tbody tr td:first-child {
  text-align: start;
  flex: 1;
}

tbody tr td:not(:first-child) {
  text-align: center;
  flex: 1;
}

tbody tr td {
  box-sizing: border-box;
}

tbody tr {
  gap: 10px;
}

.titulo {
  margin-top: 63px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timeline {
  display: flex;
  align-items: center;
  gap: 0;
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #FFBF00;
  border-radius: 50%;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #FFBF00;
}

.fw-light {
  color: #E0E0E0;
}

.font-12{
  font-size: 12px;
}

.font-14{
  font-size: 14px;
}

.font-15{
  font-size: 15px;
  font-weight: 400;
}

.font-18{
  font-size: 18px;
  font-weight: 400;
}

.font-24{
  font-size: 24px;
}

.font-28{
  font-size: 28px;
}

.fa-trophy{
  color: #38BDF8;
  margin-right: 10px;
}

.ps {
  background-color: #38BDF8;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #1A1A1A;
  margin-top: 5px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.star i.fa-star {
  font-size: 34px;
  color: #38BDF8;
  align-items: center!important;
}

.xp{
  text-transform: uppercase;
}

.star i.fa-certificate {
  font-size: 34px;
  color: #38BDF8;
  align-items: center!important;
}